body {
  margin:0;
  padding:0;
  color:#555555;
  font:normal 10pt Arial, Helvetica, sans-serif;
  background:#efefef;
}
a {
  color:#66b814;
  text-decoration:none;
}
a:visited {
  color:#66b814;
  text-decoration:none;
}
input[type="text"] {
  border:1px solid #c9e0ed;
  background-color:#feffed;
  padding:3px;
}
input[type="submit"] { border:1px solid #c9e0ed; }
#page {
  margin:35px auto;
  width:500px;
}
