/*
This file is for generic LESS variables, functions and styles
*/

@light-grey: #EFEFEF;
@dark-grey: #555;
@light-blue: #C9E0ED;
@light-green: #66B814;
@light-yellow: #FEFFED;

body {
	margin: 0;
	padding: 0;
	color: @dark-grey;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: @light-grey;
}

a {
	color: @light-green;
	text-decoration: none;
}

a:visited {
	color: @light-green;
	text-decoration: none;
}

input[type="text"] {
	border: 1px solid @light-blue;
	background-color: @light-yellow;
	padding: 3px;
}

input[type="submit"] {
	border: 1px solid @light-blue;
}

#page {
	margin: 35px auto;
	width: 500px;
}
