body {
  margin:0;
  padding:0;
  color:#555555;
  font:normal 10pt Arial, Helvetica, sans-serif;
  background:#efefef;
}
a {
  color:#66b814;
  text-decoration:none;
}
a:visited {
  color:#66b814;
  text-decoration:none;
}
h1 {
  font-size:40px;
  margin-bottom:5px;
}
h4 { margin-bottom:5px; }
input[type="text"], input[type="password"] {
  border:1px solid #c9e0ed;
  padding:3px;
}
input[type="submit"] {
  border:1px solid #c9e0ed;
  height:24px;
}
.errorMessage { color:#ff3366; }
#page {
  margin:0 auto 35px auto;
  width:500px;
}
#page #userinfo {
  float:right;
  margin:0;
}
#page #todo-container {
  width:100%;
  padding:10px;
  background:white;
  border:1px solid #c9e0ed;
}
#page #todo-container form { margin:10px 0; }
#page #todo-container form input[type="text"] {
  font-size:30px;
  width:80%;
  height:40px;
  margin-left:10px;
  background-color:#feffed;
}
#page #todo-container form input[type="submit"] {
  font-size:30px;
  height:48px;
  width:68px;
  vertical-align:top;
  padding-bottom:8px;
}
#page #todo-container ul {
  list-style-type:none;
  padding-left:0;
  margin-top:20px;
}
#page #todo-container ul li {
  margin-top:8px;
  border-bottom:1px solid #c9e0ed;
}
#page #todo-container ul li label {
  margin-left:10px;
  vertical-align:top;
}
#page #todo-container ul li label.todo-label-true { text-decoration:line-through; }
#page #actions { float:right; }
